.App {
  height: 100vh;
  padding: 2em 0;
  text-align: center;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.menu-logo {
	width: 100%;
	height: 115px;
}

.social-wrap {
	padding: 15px 0;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social li {
	margin: 0 10px;
}

.social img {
	width: 30px;
	height: auto;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 2em - 4px); /*parent padding 2em and 2px + 2px borders top and bottom*/
	max-width: 1400px;
	margin: 0 auto;
	border: 2px solid #eee;
	background-color: #fafafa;
	font-size: calc(10px + 2vmin);
}

.App-link {
  color: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
